// Block style modifiers.

.wp-block-image.is-style-style-a {
    // TODO: add Style A image modifiers.
}

.wp-block-image.is-style-style-b {
    // TODO: add Style B image modifiers.
}

// Eyebrow styles
.is-style-eyebrow {
    font-weight: bold;
    text-transform: uppercase;

    + h2, + h3, + h4, + h5, + h6 {
        margin-block-start: 0;
    }
}

// Half gradient
.is-style-background-half-gradient {
    &.has-background {
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            inset: 0;
            left: 0;
            position: absolute;
            top: 0;
            background: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            z-index: 0;
        }

        > * {
            position: relative;
            z-index: 1;
        }

        $percent_to_start: 30%;

        &.has-primary-background-color:before {
            background-image: linear-gradient(
                90deg,
                var(--wp--preset--color--primary) 0%,
                var(--wp--preset--color--primary) $percent_to_start,
                transparent 100%
            );
        }

        &.has-secondary-background-color:before {
            background-image: linear-gradient(
                90deg,
                var(--wp--preset--color--secondary) 0%,
                var(--wp--preset--color--secondary) $percent_to_start,
                transparent 100%
            );
        }

        &.has-tertiary-background-color:before {
            background-image: linear-gradient(
                90deg,
                var(--wp--preset--color--tertiary) 0%,
                var(--wp--preset--color--tertiary) $percent_to_start,
                transparent 100%
            );
        }

        &.has-light-background-color:before {
            background-image: linear-gradient(
                90deg,
                var(--wp--preset--color--light) 0%,
                var(--wp--preset--color--light) $percent_to_start,
                transparent 100%
            );
        }

        &.has-dark-background-color:before {
            background-image: linear-gradient(
                90deg,
                var(--wp--preset--color--dark) 0%,
                var(--wp--preset--color--dark) $percent_to_start,
                transparent 100%
            );
        }
    }
}

$background-cut-off: 75%;

// Background color cut-off
.is-style-background-cut-off-left,
.is-style-background-cut-off-right {

    padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--20);

    &.has-background {
        background-color: transparent !important;
        position: relative;
        overflow: hidden;
    }

    &:before {
        content: "";
        inset: 0;
        position: absolute;
        top: 0;
        background: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        pointer-events: none;
        width:$background-cut-off;
        z-index: 0;
    }

    > * {
        position: relative;
        z-index: 1;
    }

    &.has-primary-background-color:before {
        background-color:var(--wp--preset--color--primary);
    }

    &.has-secondary-background-color:before {
        background-color:var(--wp--preset--color--secondary);
    }

    &.has-tertiary-background-color:before {
        background-color:var(--wp--preset--color--tertiary);
    }

    &.has-light-background-color:before {
        background-color:var(--wp--preset--color--light);
    }

    &.has-dark-background-color:before {
        background-color:var(--wp--preset--color--dark);
    }

}
.is-style-background-cut-off-left:before {
    left: 0;
}
.is-style-background-cut-off-right:before {
    left: 100% - $background-cut-off;
}

// Solid overlay
.is-style-background-color-overlay {
    &.has-background {
        background-color: transparent;
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            inset: 0;
            left: 0;
            position: absolute;
            top: 0;
            background: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            pointer-events: none;
            z-index: 0;
            opacity: 0.8;
        }

        > * {
            position: relative;
            z-index: 1;
        }

        &.has-primary-background-color:before {
            background-color: var(--wp--preset--color--primary);
        }

        &.has-secondary-background-color:before {
            background-color: var(--wp--preset--color--secondary);
        }

        &.has-tertiary-background-color:before {
            background-color: var(--wp--preset--color--tertiary);
        }

        &.has-light-background-color:before {
            background-color: var(--wp--preset--color--light);
        }

        &.has-dark-background-color:before {
            background-color: var(--wp--preset--color--dark);
        }
    }
}

@media screen and (max-width: $mobile-viewport-size) {
    
    .wp-block-columns.is-style-swap-on-mobile {
        > .wp-block-column:first-child {
            order: 2;
        }

        > .wp-block-column:last-child {
            order: 1;
        }
    }

    .wp-block-group.is-layout-grid.is-style-mobile-scroll {
        display: flex;
        gap: var(--wp--style--block-gap, 1.5rem);
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        > div {
            flex: 0 0 75vw;
            scroll-snap-align: start;
        }
    }

    .wp-block-group.is-layout-grid.is-style-mobile-two-column {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .wp-block-group.is-layout-grid.is-style-mobile-one-column {
        grid-template-columns: 1fr;
    }
}
