.#{ $ns }icon-pod {
    border:var(--border-width) var(--border-style);
    border-radius:var(--border-radius);
    box-shadow:var(--default-shadow);
    gap:var(--element-gap);
    padding:var(--element-gap);

    figure {
        height:3rem;

        img {
            height:100%;
            width: auto;
        }
    }

    .wp-block-font-awesome-icon {
        svg {
            height:3rem;
            width: auto;
        }
    }

    .wp-block-buttons {
        margin-top: auto;
    }

}

@media screen and (max-width:768px) {
        .ccc-linked-icon-pods__grid{
            grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        }
    }