.#{ $ns }linked-icon-pods {
    &__grid {
        display: grid;
        gap: var(--element-gap);
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    }

    &.has-columns-1 &__grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &.has-columns-2 &__grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.has-columns-3 &__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &.has-columns-4 &__grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &__item {
        align-items: center;
        background-color: var(--wp--preset--color--light-alt);
        color: inherit;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;

        transition: all 0.2s ease;

        &:hover {
            box-shadow:none;
            transform: scale(1.03);
        }
    }

    &__icon {
        align-items: center;
        display: flex;
        margin: 0 0 0.5rem;
    }

    &__title {
        line-height: 1.2;
        margin: 0;
        text-decoration-color: var(--wp--preset--color--primary);
        text-decoration-thickness: 2px;
        text-decoration-style: solid;
        text-decoration-line: underline;
    }
}
