.post-grid-custom{
    

    .inner-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--wp--preset--spacing--50);
        padding:  var(--wp--preset--spacing--50);
    }

    .post-grid-item{
        // flex-basis: 31.25%;
        background-color: white;
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .post-grid-title{
        margin-top: 0;
        margin-bottom: 20px;
    }

    .content-container{
        padding: 24px 32px 20px 32px;
    }

    .post-grid-excerpt p{
        line-height: 1.5;
        color: #726f69;
    }

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    a{
        display: flex;
        text-decoration: none;
        font-weight: 300;
        font-size: 26px;
        color: #4f6281;

        &:hover{
            text-decoration: underline;
        }
    }

    .post-grid-readmore {
        width: fit-content;
        line-height: 1;
        font-size: 16px;
        position: relative;
        padding: 0;
        padding-right: 30px;
        text-decoration: none !important;
        transition: .25s;
        font-weight: 500;
        color: #939eb8;

        .link__icon{
            position: absolute;
            right: 10px;
            font-size: 16px;
            transition: .25s;
        }

        &:hover{
            .link__icon{
                right: 0;
                transition: .25s;
            }
        }

        
    }

    @media screen and (max-width:768px) {
        .inner-grid-container{
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding: 25px;
            grid-template-columns: 1fr;
        }

        // .post-grid-item{
        //     flex-basis: 100%;
        // }
    }

}

