.post-grid-custom{
    

    .inner-grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--wp--preset--spacing--50);
        // padding:  var(--wp--preset--spacing--50);
    }

    .post-grid-item{
        // flex-basis: 31.25%;
        background-color: white;
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .post-grid-title{
        margin-top: 0;
        margin-bottom: 16px;
    }

    .content-container{
        padding: 24px 32px 20px 32px;
        padding: var(--wp--preset--spacing--40);
    }

    .post-grid-excerpt p{
        line-height: 1.5;
        color: #726f69;
    }

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    a{
        display: flex;
        text-decoration: none;
        font-weight: 300;
        font-size: 26px;
        color: #4f6281;

        &:hover{
            text-decoration: underline;
        }
    }

    .post-grid-readmore {
        width: fit-content;
        line-height: 1;
        font-size: 16px;
        position: relative;
        padding: 0;
        padding-right: 30px;
        text-decoration: none !important;
        transition: .25s;
        font-weight: 500;
        color: #939eb8;

        .link__icon{
            position: absolute;
            right: 10px;
            font-size: 16px;
            transition: .25s;
        }

        &:hover{
            .link__icon{
                right: 0;
                transition: .25s;
            }
        }

        
    }

    @media screen and (max-width:768px) {
        .inner-grid-container{
            // max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 25px;
            padding-bottom: 25px;
            grid-template-columns: 1fr;
        }

        // .post-grid-item{
        //     flex-basis: 100%;
        // }
    }

}



.wp-block-post-template{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--wp--preset--spacing--50);

    .wp-block-post{
        margin: 0;
        background-color: white;
        border-radius: var(--border-radius);
        overflow: hidden;
        margin-bottom: 2rem;
    }

    .wp-block-post-title{
        padding-top: var(--wp--preset--spacing--40);
        padding-left: var(--wp--preset--spacing--40);
        padding-right: var(--wp--preset--spacing--40);
        margin-top: 0;
    }

    .wp-block-post-excerpt{
        margin-top: 0;
        padding-left: var(--wp--preset--spacing--40);
        padding-right: var(--wp--preset--spacing--40);
        padding-bottom: var(--wp--preset--spacing--40);;
    }

    .wp-block-post-date{
        padding-left: var(--wp--preset--spacing--40);
        padding-right: var(--wp--preset--spacing--40);
    }


    .wp-block-post-title h2{
        margin-top: 0;
    }

    .wp-block-post-title a{
        margin-top: 0;
        margin-bottom: 16px;
        display: flex;
        text-decoration: none;
        font-weight: 300;
        font-size: 26px;
        color: #4f6281;
        line-height: 1.2;

        &:hover{
            text-decoration: underline;
        }
    }

    .wp-block-post-excerpt__more-text{
        margin-top: 16px;
    }

    .wp-block-post-excerpt__more-link{
        width: fit-content;
        line-height: 1;
        font-size: 16px;
        position: relative;
        padding: 0;
        padding-right: 30px;
        text-decoration: none !important;
        transition: .25s;
        font-weight: 500;
        color: #939eb8;

        .link__icon{
            position: absolute;
            right: 10px;
            font-size: 16px;
            transition: .25s;
        }

        &:hover{
            .link__icon{
                right: 0;
                transition: .25s;
            }
        }
    }


    @media screen and (max-width:768px) {
        grid-template-columns: 1fr;
    }
}

.wp-block-query-pagination-numbers{
    gap: 15px;
    display: flex;
}

.wp-block-query-pagination {
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    gap: 50px;

    .page-numbers {
        text-decoration: none !important;
    }
    .page-numbers:hover{
        text-decoration: underline !important;
    }
    .page-numbers.current{
        color: #5da1b6;
    }
    .page-numbers.current:hover{
        text-decoration: none !important;
    }

    .wp-block-query-pagination-next, .wp-block-query-pagination-previous{
        text-decoration: none;
    }

    .wp-block-query-pagination-next:hover, .wp-block-query-pagination-previous:hover{
        text-decoration: underline;
        text-decoration-color: var(--wp--preset--color--primary);
        text-decoration-thickness: 3px;
    }

}

@media screen and (max-width:500px) {
    .wp-block-query-pagination-next, .wp-block-query-pagination-previous, .wp-block-query-pagination-numbers{
        flex-basis: 100% !important;
        text-align: center !important;
        justify-content: center;
    }
}