:root {

    // Borders
    --border-width:2px;
    --border-style:solid;
    --border-radius:4px;

    // Fonts
    --body-font:"Poppins",Helvetica,sans-serif;
    --header-font:"Poppins",Helvetica,sans-serif;

    // Default Spacing
    --element-gap: var(--wp--preset--spacing--40);
    --default-spacing: var(--wp--preset--spacing--20);

    // Default shadow
    --default-shadow: 3px 3px 2px rgba(0,0,0,.1);

    // Font sizes
    //--wp--preset--font-size--extra-extra-large: create_clamp(1.75rem,2.5rem);
}

// Navigation bar
.wp-site-blocks > header {
    border-bottom:var(--border-width) var(--border-style);
    position: fixed;
    width:100%;
    z-index: 9;
}

// Body spacing
main {
    margin-top: 0;
    margin-left:var(--wp--preset--spacing--50);
    margin-right: var(--wp--preset--spacing--50);
}

// Button sizing
.wp-block-button {
    .wp-block-button__link {
        border-radius:var(--border-radius);
        box-shadow:var(--default-shadow);
        display: block;
        padding:.6em 1em;
        transition: all 0.2s ease;

        &:hover {
            box-shadow:none;
            transform: scale(1.1);
        }
    }
}

body {
    font-family:var(--body-font);
    line-height: 1.2;
}

p,li {
    line-height:1.5;
}

li {
    padding-bottom:.5em;
}

// Heading font weights
h1 {
    font-weight: 300;
}
h2 {
    font-weight: 300;
}
h3 {
    font-weight: 500;
}
h4 {
    font-weight: 300;
}

// Header font size clamps
h1 { @include create-clamp(2.5, 3.5); }
h2 { @include create-clamp(2, 2.75); }
h3 { @include create-clamp(1.75, 2); }
h4 { @include create-clamp(1.35, 1.75); }
h5 { @include create-clamp(1.2, 1.5); }
h6 { @include create-clamp(1, 1.3); }

// Default background/text color combinations
.has-primary-background-color.has-background {
    color:var(--wp--preset--color--dark);

    a:where(:not(.wp-element-button)) {
        color: var(--wp--preset--color--dark);
        text-decoration-color: var(--wp--preset--color--secondary);
    }
}
.has-secondary-background-color.has-background {
    color:var(--wp--preset--color--light);

    a:where(:not(.wp-element-button)) {
        color: var(--wp--preset--color--light);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}
.has-tertiary-background-color.has-background {
    color:var(--wp--preset--color--light);

    a:where(:not(.wp-element-button)) {
        color: var(--wp--preset--color--light);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}
.has-dark-background-color.has-background {
    color:var(--wp--preset--color--light);

    a:where(:not(.wp-element-button)) {
        color: var(--wp--preset--color--light);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}
.has-light-background-color.has-background {
    color:var(--wp--preset--color--dark);

    a:where(:not(.wp-element-button)) {
        color: var(--wp--preset--color--dark);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}

// Basic text link styles
a:where(:not(.wp-element-button)) {
    color:var(--wp--preset--color--dark);
    font-weight: bold;
    text-decoration-color: var(--wp--preset--color--primary);
    text-decoration-thickness: 3px;
}